---
layout: handbook-page-toc
title: Fulfillment Platform Team
description: "The Fulfillment Platform Team of the Fulfillment Sub-department at GitLab"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

More details about the product vision for Fulfillment Platform, can be found on our [Fulfillment Platform direction](direction/fulfillment/platform/) page. 

For a wider picture of the product vision for the Fulfillment section, please see the [Fulfillment direction](direction/fulfillment) page. 

The Platform group manages the [Platform category](/handbook/product/product-categories/#platform-group).

## Team members

<%= direct_team(role_regexp: /[,&] Fulfillment:Fulfillment Platform/, manager_role: 'Fullstack Engineering Manager, Fulfillment:Fulfillment Platform') %>

## Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Fulfillment((?!:)|:Fulfillment Platform)/, direct_manager_role: 'Fullstack Engineering Manager, Fulfillment:Fulfillment Platform') %>

#### Historical capacity

TBD

## Performance Indicators

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "group", filter_value: "Fulfillment Platform" } %>

##### OKRs

The Engineering Manager will report on the progress of [OKRs](https://about.gitlab.com/company/okrs/) every two weeks. Current OKRs: [FY22-Q1](https://gitlab.com/gitlab-com/www-gitlab-com/-/issues/10680)
